@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
		background-color: rgb(58, 131, 58);
	}
}

@media screen and (max-width: 600px) {
	.container .logo {
		width: 600px;
	}

	@media screen and (max-width: 600px) {
		.container .nav {
			display: flex;
			flex-direction: column;
			line-height: 80px;
		}
	}

	@media screen and (max-width: 600px) {
		main .bg {
			background-size: cover;
			background-position: center;
		}
	}

	@media screen and (max-width: 600px) {
		footer {
			width: 600px;
			justify-content: center;
			align-items: center;
		}
	}